 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>ポートフォリオをご覧いただきありがとうございます。<br>約1年半SlerとしてOracle EBSの保守を行っておりましたが、開発をやりたい、WEBエンジニアとして活躍したいと思いポテパンキャンプに通っておりました。</p>
                </div>
                <div class="col-lg-4">
                    <p>学習している言語はRuby、フレームワークはRuby on Railsです。<br>まだまだエンジニアとして未熟な部分も多くございますが、日々学習を行いすぐにWEBエンジニアとして活躍できるよう努めております。</p>
                </div>
            </div>
        </div>
    </section>
